@{
  Layout = "_Layout";
}

@using Pierres.ViewModels
@model LoginViewModel

<h1>Log In</h1>
<hr/>
@using (Html.BeginForm())
{
  <h3>@Html.Label("Username:")</h3>
  @Html.TextBoxFor(m => m.UserName)<br>
  <h3>@Html.Label("Password:")</h3>
  @Html.PasswordFor(m => m.Password)<br><br>
  <input type="submit" value="Log In"/>
}