@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<h2>Add Flavor</h2>
<hr/>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  <h4>Select Flavor:</h4>
  @Html.DropDownList("FlavorId")
  <br>
  @if (ViewBag.Error != null && ViewBag.Error == "exist")
  {
    <span style="color:red;">FLAVOR ALREADY ADDED!</span>
  }
  <br>
  <input type="submit" value="Save" />
}
<hr/>
<h5>@Html.ActionLink($"Back to Details", "Details", new { id = Model.TreatId })</h5>