@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<h2>Add Flavor</h2>
<hr/>
@if (ViewBag.Flavors.Count == 0)
{
  <h3>No Flavors Available</h3>
}
else
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    <h4>Select Flavor:</h4>
    @Html.DropDownList("FlavorId")
    <br>
    @if (ViewBag.Error != null && ViewBag.Error == "exist")
    {
      <span style="color:red;">FLAVOR ALREADY ADDED!</span>
    }
    <br>
    <input type="submit" value="ADD"/>
  }
}
<hr/>
<h5>@Html.ActionLink("Back to Details", "Details", new { id = Model.TreatId })</h5>