@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat
<h2>Delete Treat</h2>
<hr/>
<h4>Please confirm removal of:<br> "@Html.DisplayFor(model => model.Name)"</h4><br>

@using (Html.BeginForm())
{
  <input type="submit" value="CONFIRM"/>
}
<hr/>