@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat
<h2>Delete Machine</h2>
<hr />
<h4>Please confirm removal of "@Html.DisplayFor(model => model.Name)" and all flavors.</h4><br>

@using (Html.BeginForm())
{
  <input type="submit" value="CONFIRM" />
}
<hr />
<h4>@Html.ActionLink($"Back to {Model.Name}'s Details", "Details", new { id = Model.TreatId })</h4>