@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<h2>Edit Treat</h2>
<hr/>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  <h3>@Html.LabelFor(model => model.Name, "Treat Name:")</h3>
  @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @required="required" } } )
  <br>
  @if (ViewBag.Error != null && ViewBag.Error == "exist")
  {
    <span style="color:red;">TREAT ALREADY EXISTS!</span>
  }
  <br>
  <input type="submit" value="Save" />
}
<hr/>
<h4>@Html.ActionLink($"Back to Details", "Details", new { id = Model.TreatId })</h4>