<div id="header">
  <button class="header">@Html.ActionLink("HOME", "Index", "Home")</button>
  <button class="header">@Html.ActionLink("TREATS", "Index", "Treats")</button>
  <button class="header">@Html.ActionLink("FLAVORS", "Index", "Flavors")</button>
  <button class="header">@Html.ActionLink("ACCOUNT", "Index", "Account")</button>
</div>