@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor

<h2>Add Treat</h2>
<hr/>
@if (ViewBag.Treats.Count == 0)
{
  <h3>No Treats Available</h3>
}
else
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    <h4>Select Treat:</h4>
    @Html.DropDownList("TreatId")
    <br>
    @if (ViewBag.Error != null && ViewBag.Error == "exist")
    {
      <span style="color:red;">TREAT ALREADY ADDED!</span>
    }
    <br>
    <input type="submit" value="Add" />
  }
}
<hr/>
<h5>@Html.ActionLink("Back to Details", "Details", new { id = Model.FlavorId })</h5>