body {
  background-image: url(https://images.unsplash.com/photo-1517433367423-c7e5b0f35086?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1001&q=80);
  background-repeat: no-repeat;
  background-position: top;
  background-color: black;
  text-align: center;
  font-family: 'Roboto Serif', serif;
  font-family: 'Sansita Swashed', cursive;
  font-family: 'Yuji Syuku', serif;
  font-size: large;
  color: burlywood;
} 

.container {
  margin-top: 360px;
  max-width: 525px;
}

input {
  text-align: center;
} 

a {
  color: blanchedalmond;
}

a:hover {
  color: chocolate;
}

div#header {
  position: fixed;
  top: 300px;
  left: 0px;
  width: 100%;
  text-align: center;
}

.header {
  background-color: black;
}

button {
  font-style: italic;
}

hr {
  border: 1px solid blanchedalmond;
}

#user {
  font-weight: bolder;
  font-style: italic;
}